<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <title class="title">Norita</title>
    <!--run this in the terminal:    python -m http.server 8000-->
<!--    then open a web page and type in this: http://localhost:8000-->
<style>

.hen, .horses, .moxie, .flock {
    width: 300px;
    height: 300px;
    padding: 10px;
   }

.hen:hover, .horses:hover, .moxie:hover, .flock:hover{
    transform: scale(1.9);
}

</style>
</head>
<body>
<header>
    <br>
<h1>Books and more by Norita!</h1>
<img src="../static/open%20book.png" style="width: 300px" alt="book">
    <br>
    <br>
    <br>
</header>
<ul>
  <li><a href="home">Home</a></li>
  <li><a href="about">About</a></li>
  <li><a href="fiction">Fiction</a></li>
  <li><a href="nonfiction">Non-Fiction</a></li>
  <li><a href="sermons">Sermons</a></li>
  <li><a href="apologetics">Apologetics</a></li>
  <li><a href="gallery">Gallery</a></li>
  <li><a href="contact">Contact Us</a></li>
</ul>
<br>
<div class="container">
  <div class="left">
      <h1>Gallery</h1>
<br>
<div class="image-container">
    <img class="hen" src="../static/hen.png" alt="Zoom Image">
    <img class="horses" src="../static/horses.png" alt="Zoom Image">
    <img class="moxie" src="../static/beauty.png" alt="Zoom Image">
    <img class="flock" src="../static/charmbaby.png" alt="Zoom Image">
    <img class="flock" src="../static/moxie.png" alt="Zoom Image">
    <img class="flock" src="../static/flock.png" alt="Zoom Image">
    <img class="flock" src="../static/goatscow.png" alt="Zoom Image">
    <img class="flock" src="../static/marty.png" alt="Zoom Image">
    <img class="flock" src="../static/mrrooster.png" alt="Zoom Image">
    <img class="flock" src="../static/goat1.png" alt="Zoom Image">
    <img class="flock" src="../static/prettyroo.png" alt="Zoom Image">
    <img class="flock" src="../static/melody.png" alt="Zoom Image">
    <img class="flock" src="../static/animalshay.png" alt="Zoom Image">
    <img class="flock" src="../static/2horse.png" alt="Zoom Image">
    <img class="flock" src="../static/melodyhill.png" alt="Zoom Image">
    <img class="flock" src="../static/goatchicks.png" alt="Zoom Image">

</div>
</div>
<span class="right">
    <h2>Famous Quotes About Farming</h2>
    <br>
    <p><strong>George Washington:</strong> "Agriculture is the most healthful, most useful and most noble employment of man."</p>
    <p><strong>Dwight D. Eisenhower:</strong>"Farming looks mighty easy when your plow is a pencil and you're a thousand miles from the corn field."</p>
    <p><strong>Aldo Leopold:</strong>"There are two spiritual dangers in not owning a farm. One is the danger of supposing that breakfast comes from the grocery, and the other that heat comes from the furnace."</p>
    <p><strong>Brenda Schoepp:</strong>"My grandfather used to say that once in your life you need a doctor, a lawyer, a policeman, and a preacher. But every day, three times a day, you need a farmer."</p>
    <p><strong>B.C. Forbes:</strong>"It is only the farmer who faithfully plants seeds in the Spring, who reaps a harvest in the Autumn."</p>
    <p><strong>Daniel Webster:</strong>"When tillage begins, other arts follow. The farmers, therefore, are the founders of human civilization."</p>

</span>
</div>

</body>
</html>