<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <title class="title">Norita</title>
    <!--run this in the terminal:    python -m http.server 8000-->
<!--    then open a web page and type in this: http://localhost:8000-->

</head>
<body>
<header>
    <br>
<h1>Books and more by Norita!</h1>
<img src="../static/open%20book.png" style="width: 300px" alt="book">
    <br>
    <br>
    <br>
</header>

<ul>
  <li><a href="home">Home</a></li>
  <li><a href="about">About</a></li>
  <li><a href="fiction">Fiction</a></li>
  <li><a href="nonfiction">Non-Fiction</a></li>
  <li><a href="sermons">Sermons</a></li>
  <li><a href="apologetics">Apologetics</a></li>
  <li><a href="gallery">Gallery</a></li>
  <li><a href="contact">Contact Us</a></li>
</ul>
<br>

<div class="container">
  <div class="left">
      <h1>Today's Feature: <strong>Unprepared</strong></h1>
      <h4>I didn't die today. Not sure about tomorrow.</h4>
        <br>
      <div class="item"><a href="https://www.amazon.com/Unprepared-Norita-Sieffert-ebook/dp/B00ZSUE1MK/">
        <img src="../static/unprepfeature.png" style="width:800px" alt="centered"></a></div>
  </div>

  <span class="right">
    <h2>Great Quotes</h2>
        <p>“Faith is taking the first step even when you don’t see the whole staircase.” – Martin Luther King Jr.</p>
        <p>“Faith does not eliminate questions. But faith knows where to take them.” – Elisabeth Elliot</p>
        <p>“The will of God will never take you where the grace of God cannot keep you.” – Unknown</p>
        <p>“Preach the gospel to yourself every day.” – Jerry Bridges</p>
        <p>“It is the duty of every Christian to be Christ to his neighbor.” – Martin Luther</p>
        <p>“Jesus’ mission is not to make converts, but to make disciples.” – Jim Putnam</p>
        <p>“Not all of us can do great things. But we can do small things with great love.” – Mother Teresa</p>
        <p>“It is not the trials in your life that develop or destroy you, but rather your response to those hardships.” – Charles Stanley</p>
        <p>“Joy is the infallible proof of the presence of God.” – Madeleine L’Engle</p>
        <p>“For prayer is nothing else than being on terms of friendship with God.” – Saint Teresa of Ávila</p>
        <p>“In our prayers, we talk to God; in our Bible study, God talks to us, and we had better let God do most of the talking.” – D.L. Moody</p>
        <p>“When we work, we work. When we pray, God works.” – James Hudson Taylor .</p>
        <p>"Five times Christianity has gone to the dogs, and each time it was the dog that died." - G.K. Chesterton</p>
  </span>
</div>

<footer>
     <a href="https://www.facebook.com/profile.php?id=61574921932431">
    <img class="facebook" src="../static/fb.png" style="width:150px" alt="centered"></a>
    <br>
     <p>This website built by Norita Sieffert © 2026</p>

</footer>

</body>
</html>