<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <title class="title">Norita</title>
    <!--run this in the terminal:    python -m http.server 8000-->
<!--    then open a web page and type in this: http://localhost:8000-->
<style>
.container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: dodgerblue;
    padding: 10px;
    gap: 5px;
}

H1 {
    text-align: center;
}
.container div {
  background-color: #f1f1f1;
  padding: 10px;
  /*text-align: center;*/
}
</style>
</head>
<body>
<header>
    <br>
<h1>Books and more by Norita!</h1>
<img src="../static/open%20book.png" style="width: 300px" alt="book">
    <br>
    <br>
    <br>
</header>
<ul>
  <li><a href="home">Home</a></li>
  <li><a href="about">About</a></li>
  <li><a href="fiction">Fiction</a></li>
  <li><a href="nonfiction">Non-Fiction</a></li>
  <li><a href="sermons">Sermons</a></li>
  <li><a href="apologetics">Apologetics</a></li>
  <li><a href="gallery">Gallery</a></li>
  <li><a href="contact">Contact Us</a></li>
</ul>
<br>
      <h1>Sermons by Pastor Sieffert</h1>
        <br>
      <div class="container">
          <div><a href="https://youtu.be/fCcl6rKrSUM?si=nYrimAt0uKDPx1Zt">
              <img src="../static/ultimate.png" style="height:280px; width:300px" alt="centered"></a></div>
       <div><a href="https://youtu.be/gLX7thvHGpM?si=YQFq_kI2cjW5mzn6">
            <img src="../static/sosaved.png" style="height:280px; width:300px" alt="centered"></a></div>
        <div><a href="https://youtu.be/lUGs20qr9mg?si=D4YrvVC_Kw8YNV1u">
            <img src="../static/mom.png" style="height:280px; width:300px" alt="centered"></a></div>
        <div><a href="https://youtu.be/65xE7xDJ8k4?si=wmAFf5RTFQMN4JNS">
            <img src="../static/redeemed.png" style="height:280px; width:300px" alt="centered"></a></div>
        <div><a href="https://youtu.be/DG35745EQUs?si=g275JgJvSrytSGNq">
            <img src="../static/victory.png" style="height:280px; width:300px" alt="centered"></a></div>
        <div><a href="https://youtu.be/nntw7L3VXLM?si=_l2JWemtHNUQ5kX7">
            <img src="../static/waiting.png" style="height:280px; width:300px" alt="centered"></a></div>
        <div><a href="https://youtu.be/X45uB56_0yU?si=l1FY64qSTEVBXZeJ">
            <img src="../static/whynot.png" style="height:280px; width:300px" alt="centered"></a></div>
        <div><a href="https://youtu.be/rTqPpM89m2A?si=XZf6zKm-4iUSUcCE">
            <img src="../static/east.png" style="height:280px; width:300px" alt="centered"></a></div>
        <div><a href="https://youtu.be/bCXriFOCpDY?si=jigu9yJIySHIJPwk">
            <img src="../static/psalm22.png" style="height:280px; width:300px" alt="centered"></a></div>
        <div><a href="https://youtu.be/0p35nvq4WuM?si=lbs766LyBl3t11qQ">
            <img src="../static/unexpected.png" style="height:280px; width:300px" alt="centered"></a></div>
        <div><a href="https://youtu.be/7ueF7Fg59Ps?si=v_uHtsu432hXwHnT">
            <img src="../static/criss.png" style="height:280px; width:300px" alt="centered"></a></div>
        <div><a href="https://youtu.be/stRbqqrieak?si=m_SUtTTH3IrZsG-F">
            <img src="../static/remember.png" style="height:280px; width:300px" alt="centered"></a></div>
       </div>
      </div>
</body>
</html>